extends layout
block content
	+mainQuote()
	
	img.home_author_image(src="/img/dibujando.jpg")
	
	h1.main_title.fontTitle Trailer
	div.trailer_video_wrapper.
		<iframe  height="315" src="https://www.youtube.com/embed/DUwWDx2ygHI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	
	h1.main_title.fontTitle Personajes
	.characters_grid
		img.character_image(src="/img/alan.jpg")
		img.character_image(src="/img/juana.jpg")
		img.character_image(src="/img/don-elias-char.jpg")
		img.character_image(src="/img/lucho.jpg")
		img.character_image(src="/img/aurora.jpg")
				
		
	h1.main_title.fontTitle Algunas imagenes
	
	img.comic_image(src="/img/comic-1.jpg")
	img.comic_image(src="/img/comic-2.jpg")
	img.comic_image(src="/img/comic-3.jpg")
	
	
	h1.main_title.fontTitle Apadrina el proyecto
	p.main_text.fontParagraph Aqui va un mensaje indicando los beneficios y ventajas de apadrinar el proyecto del comic.
	img.patreon_banner(src="/img/patreon.jpg")
		
block scripts

		
	