mixin head()
	meta(name='viewport', content='width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no')
	
	meta(charset="UTF-8")
	
	link(rel='shortcut icon', href='/img/favicon.ico', type='image/x-icon')
	
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css")
	
	link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin='anonymous')
	link(href='https://fonts.googleapis.com/css?family=Pacifico', rel='stylesheet')

	
	link(rel="stylesheet", href="/css/styles.css")
				
mixin footer()
	footer
		.footer_bottom
			p.footer_quote.AreaA.fontFooter Inserta frase bonita aqui
			.footer_links.AreaC.fontFooter
				a.footer_links__link(href='mailto:alvarodigi@gmail.com') Escribeme  !
		.footer_by.fontFooter
			a(href='https://incubadoraitinerante.com', target='_blank') Fait avec amour par Incubadora Itinerante
		
mixin commonScripts()
	#script(src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous")
	#script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js")
	#script(src="/js/common.js")
	#script(src="https://apiba.wrapkend.com/js/client")

mixin mainQuote()
	.home_banner
		.home_banner__text.fontBanner
			|	Aqui va un mensaje
			br
			|	Que den ganas de scrollear
	section.LIRT
		.AreaB
			p.fontQuote
				| Aqui va un mensaje que describe el comic en pocas palabras y e invita a leerlo.


mixin actorLink(item)
	a.actor_thumb__link(href=item.publicUrl)
		.actor_thumb
			.actor_thumb__name.fontActorThumbTitle=item.name
			.actor_thumb__activity.fontActorThumbText=item.activity	
				

mixin actorCard(item)
	.actor_card
		.actor_card__name
			h5=item.name
		.actor_card__activity=item.activity
		.actor_card__description=item.description
		.actor_card__address_formatted=item.address.formatted
		.actor_card__phone=item.phone
				
mixin searchPanel()
	section.sectionSearch
		.AreaA
			p.sectionSearch_title Que cherchez vous en Bauges ?
		.AreaB
			.inputIcon
				input.sectionSearch_input
				.icon
					i.fas.fa-search
		.AreaC.sectionSearch_hashs
			.sectionSearch_hashTag.small #boulanger
			.sectionSearch_hashTag.small #permaculture
			.sectionSearch_hashTag.small #plantes sauvages
			.sectionSearch_hashTag.big #poterie
			.sectionSearch_hashTag.small #souvenirs
			.sectionSearch_hashTag.medium #balades
			.sectionSearch_hashTag.medium #bio
			.sectionSearch_hashTag.medium #marche de producteur
			.sectionSearch_hashTag.medium #tomme des bauges
			.sectionSearch_hashTag.small #ail des ours
			
			
mixin googleAnalytics()
	script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-141538916-1')
	script.
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-141538916-1');
