/*
			breakpoints
			small: max 639
			medium: max 1047
			large: min 1048
			
			color scheme:
			
			bon
				##9AA236
			beau
				#818956
				rgba(129, 137, 86, 0.5);
			partager
				rgba(194, 159, 102, 0.5)
				##C29F66
			actus
				rgba(207, 69, 13, 0.9)
				##CF450D
			white
				#F8EFD8
			*/

@media only screen and (max-width: 639px) {}

@media only screen and (max-width: 1047px) {}

@media only screen and (min-width: 1048px) {}


/*FONTS*/

@font-face {
	font-family: 'vVWweRraType!';
	src: url('/fonts/vVWweRraType.woff2') format('woff2'), url('/fonts/vVWweRraType.woff') format('woff'), url('/fonts/vVWweRraType.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GT Walsheim';
	src: url('/fonts/GTWalsheim.woff2') format('woff2'), url('/fonts/GTWalsheim.woff') format('woff'), url('/fonts/GTWalsheim.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.fontBrand {
	font-family: 'vVWweRraType!';
}

.fontParagraph {
	font-family: 'vVWweRraType!';
}

.fontFooter {
	font-family: 'vVWweRraType!';
}

.fontNav {
	font-family: 'vVWweRraType!';
}

.fontBanner {
	font-family: 'GT Walsheim';
}

.fontQuote {
	font-family: 'vVWweRraType!';
}

.fontTitle {
	font-family: 'vVWweRraType!';
}

.fontArticleText {
	font-family: 'vVWweRraType!';
}

.fontArticleAuthor {
	font-family: 'vVWweRraType!';
}

.fontCategoryTitle {
	font-family: 'vVWweRraType!';
}

.fontCategoryText {
	font-family: 'vVWweRraType!';
}

.fontActorThumbTitle {
	font-family: 'vVWweRraType!';
}

.fontActorThumbText {
	font-family: 'vVWweRraType!';
}


/*END FONTS*/

body {
	margin: 0px;
	background-color: white;
}

header {
	background-color: white;
}

p.about_us {
	padding: 0px 20px;
}

section.about_us {
	display: grid;
	width: 100%;
	grid-template-areas: "a b";
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 60% 40%;
}

.about_us__text {
	align-self: center;
}

img.about_us {
	width: 100%;
	align-self: center;
}

.grid_header {
	display: grid;
	width: 100%;
	grid-template-areas: "brand" "nav";
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr;
}

@media only screen and (max-width: 1047px) {}

@media only screen and (min-width: 1048px) {
	header {}
	.grid_header {
		grid-template-rows: 80px;
		grid-template-columns: 350px 1fr;
	}
}

.header_title {
	align-self: center;
	text-decoration: none;
	line-height: 40px;
	font-size: 25px;
	font-weight: 100;
	color: #101010;
}

@media only screen and (max-width: 991px) {
	.header_title {
		text-align: center;
	}
}

.home_banner {
	background-image: url(/img/don-elias.jpg);
	background-size: cover;
	background-position: center;
	min-height: 380px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.home_banner__text {
	color: #003456;
	text-align: center;
	font-size: 45px;
	background: #e6e6e6a3;
	padding: 10px;
	font-weight: 700;
}

@media only screen and (min-width: 1048px) {
	.home_banner {
		min-height: 380px;
	}
}

.header__nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

@media only screen and (max-width: 991px) {
	.header__nav {
		flex-direction: column;
		margin-bottom: 10px;
	}
	.header__nav a {
		padding: 5px 20px!important;
	}
}

.header__nav a {
	text-decoration: none;
	padding: 0px 20px;
	color: black;
}

.header__nav a:hover {
	color: grey;
}


/*
.home_categories {
	display: grid;
	width: 100%;
	grid-template-areas: "a b c d";
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.home_categories a > .category {
	min-height: 150px;
	padding: 10px 10px 10px 10px;
	text-align: center;
	background-color: #9AA236;
	border: 5px solid #F8EFD8;
}

.home_categories a:nth-child(1) > .category:hover {
	background: linear-gradient(rgba(154, 162, 54, 0.5), rgba(154, 162, 54, 0.5)), url(https://images.unsplash.com/photo-1471193945509-9ad0617afabf?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
	background-size: cover;
	background-position: center;
}

.home_categories a:nth-child(1) > .category {
	
	background-color: transparent;
	background: linear-gradient(rgba(154, 162, 54, 0.9), rgba(154, 162, 54, 0.9)), url(https://images.unsplash.com/photo-1471193945509-9ad0617afabf?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
	background-size: cover;
	background-position: center;
}

.home_categories a:nth-child(2) > .category:hover {
	background: linear-gradient(rgba(129, 137, 86, 0.5), rgba(129, 137, 86, 0.5)), url(https://images.unsplash.com/photo-1508269151431-a34449ca161d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
	background-size: cover;
	background-position: center;
}

.home_categories a:nth-child(2) > .category {
	
	background-color: transparent;
	background: linear-gradient(rgba(129, 137, 86, 0.9), rgba(129, 137, 86, 0.9)), url(https://images.unsplash.com/photo-1508269151431-a34449ca161d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
	background-size: cover;
	background-position: center;
}

.home_categories a:nth-child(3) > .category:hover {
	background: linear-gradient(rgba(194, 159, 102, 0.5), rgba(194, 159, 102, 0.5)), url(https://images.unsplash.com/photo-1479837715113-400356eb8351?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
	background-size: cover;
	background-position: center;
}

.home_categories a:nth-child(3) > .category {
	
	background-color: transparent;
	background: linear-gradient(rgba(194, 159, 102, 0.9), rgba(194, 159, 102, 0.9)), url(https://images.unsplash.com/photo-1479837715113-400356eb8351?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
	background-size: cover;
	background-position: center;
}
*/


/*
			https://images.unsplash.com/photo-1529651737248-dad5e287768e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1402&q=80
			rgba(207, 69, 13, 1)
			*/

.home_categories a:nth-child(4) > .category:hover {
	background: linear-gradient(rgba(207, 69, 13, 0.5), rgba(207, 69, 13, 0.5)), url(https://images.unsplash.com/photo-1529651737248-dad5e287768e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1402&q=80);
	background-size: cover;
	background-position: center;
}

.home_categories a:nth-child(4) > .category {
	/*background-color:#CF450D;*/
	background-color: transparent;
	background: linear-gradient(rgba(207, 69, 13, 0.9), rgba(207, 69, 13, 0.9)), url(https://images.unsplash.com/photo-1529651737248-dad5e287768e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1402&q=80);
	background-size: cover;
	background-position: center;
}

.home_categories a {
	color: #F8EFD8;
	text-decoration: none;
}

.home_categories .category .AreaA {
	font-size: 20px;
	margin-top: 40px;
	margin-bottom: 10px;
}

.Area__brand {
	grid-area: brand;
}

.Area__nav {
	grid-area: nav;
}

.AreaA {
	grid-area: a;
}

.AreaB {
	grid-area: b;
}

.AreaC {
	grid-area: c;
}

.AreaD {
	grid-area: d;
}

.separator_50 {
	height: 50px;
}

.actor_thumb__link {
	text-decoration: none;
}

.actor_thumb {
	display: grid;
	width: 100%;
	grid-template-areas: "a b c";
	grid-template-columns: 40% 40% 20%;
	padding: 10px 0px;
	color: black;
}

.actor_thumb__name {
	text-align: left;
	font-size: 18px;
	font-weight: 500;
}

.actor_thumb__activity {
	text-align: left;
}

.article_thumb {
	display: grid;
	width: 100%;
	grid-template-areas: "a b";
	grid-template-rows: 1fr;
	grid-template-columns: 40% 60%;
	text-decoration: none;
	color: black;
	border: 5px solid #F8EFD8;
}

.article_thumb__image {
	width: 100%;
	max-height: 300px;
	align-self: center;
}

.article_thumb__text {
	padding: 0px 20px;
	display: grid;
	width: 100%;
	grid-template-areas: "a" "b" "c";
	grid-template-rows: 30% 60% 10%;
	grid-template-columns: 1fr;
}

.article_thumb__author {
	font-style: italic;
	font-size: 12px;
	align-self: center;
}

.category_header {
	display: grid;
	width: 100%;
	grid-template-areas: "a" "b";
	grid-template-rows: 60%;
	grid-template-columns: 1fr;
	background-color: antiquewhite;
	color: white;
	margin-bottom: 15px;
	min-height: 80px;
}

.category_header__bon {
	background: linear-gradient(rgba(154, 162, 54, 0.5), rgba(154, 162, 54, 0.5)), url(https://images.unsplash.com/photo-1471193945509-9ad0617afabf?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
	background-size: cover;
	background-position: center;
}

.category_header__beau {
	background: linear-gradient(rgba(129, 137, 86, 0.5), rgba(129, 137, 86, 0.5)), url(https://images.unsplash.com/photo-1508269151431-a34449ca161d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
	background-size: cover;
	background-position: center;
}

.category_header__partager {
	background: linear-gradient(rgba(194, 159, 102, 0.5), rgba(194, 159, 102, 0.5)), url(https://images.unsplash.com/photo-1479837715113-400356eb8351?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
	background-size: cover;
	background-position: center;
}

.category_header__actus {
	background: linear-gradient(rgba(207, 69, 13, 0.5), rgba(207, 69, 13, 0.5)), url(https://images.unsplash.com/photo-1529651737248-dad5e287768e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1402&q=80);
	background-size: cover;
	background-position: center;
}

.category_header .AreaA {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	font-size: 25px;
}

.category_header .AreaB {
	display: flex;
	text-align: center;
	align-items: flex-start;
	justify-content: center;
}

.LIRT {
	display: grid;
	width: 100%;
	grid-template-areas: "b";
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
}

.LIRT .AreaA {
	background-image: url(https://s4.aconvert.com/convert/p3r68-cdx67/cb42r-eioyu.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 350px;
}

.LIRT .AreaB {
	padding: 20px;
	font-size: 18px;
	display: flex;
	align-items: center;
}

.LIRT p {
	font-size: 20px;
	max-width: 800px;
	margin: 0 auto;
	padding: 150px 0;
	text-align: center;
	line-height: 27px;
	color: palevioletred;
}


/*SECTION SEARCH*/

.sectionSearch {
	margin-top: 50px;
	background-color: #C29F66;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sectionSearch_hashTag {
	text-align: center;
	max-width: fit-content;
	padding: 5px 5px;
	color: white;
	margin: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sectionSearch_hashTag.small {
	font-size: 10px;
}

.sectionSearch_hashTag.medium {
	font-size: 18px;
}

.sectionSearch_hashTag.small {
	font-size: 26px;
}

.sectionSearch_title {
	font-size: 30px;
	text-align: center;
	color: #F8EFD8;
	padding-top: 30px;
}

.sectionSearch_input {
	min-width: 320px;
	display: block;
	height: 40px;
	margin: 0px auto;
	font-size: 20px;
}

.sectionSearch_hashs {
	max-width: 600px;
	margin: 0 auto;
	margin-top: 30px;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 50% 50%;
}

.inputIcon {
	position: relative;
}

.inputIcon input {
	padding-right: 50px;
}

.inputIcon .icon {
	width: 32px;
	position: absolute;
	top: 15px;
	right: 10px;
}

.sectionSearch_input + .icon {
	right: 10px;
}

.inputIcon input,
.inputIcon .icon {
	display: inline-block;
}

@media only screen and (max-width: 639px) {}

@media only screen and (max-width: 1047px) {}

@media only screen and (min-width: 1048px) {
	.sectionSearch {
		max-width: 1400px;
		margin: 0 auto;
		margin-top: 50px;
	}
	.sectionSearch_hashs {
		grid-template-rows: 1fr;
		grid-template-columns: 25% 25% 25% 25%;
	}
}


/*SECTION FOOTER*/

footer {
	margin-top: 100px;
	background-color: #003456;
}

.footer_bottom {
	min-height: 100px;
	display: grid;
	width: 100%;
	grid-template-areas: "a c";
	grid-template-columns: 70% 30%;
}

.footer_links {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	border-radius: 0px 0px 0px 40px;
}

footer a,
footer p {
	text-decoration: none;
	color: white;
	padding: 5px 10px
}

.footer_links__link {
	color: #003456;
}

.footer_by {
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer_by a {
	font-size: 12px;
	text-align: center;
}

.footer_quote {
	align-self: center;
	text-align: center;
}

.blog_article {
	display: grid;
	width: 100%;
	grid-template-areas: "a" "b" "c";
	grid-template-rows: minmax(80px, 100px) minmax(500px, 1fr) 50px;
}

.article__title {
	align-self: center;
}

.app_upper {
	padding: 0px 20px;
	max-width: 1200px;
	margin: 0 auto;
	min-height: calc(100vh);
}

@media only screen and (max-width: 639px) {
	.app_upper {
		padding: 0px 0px;
	}
}

.characters_grid {
	position: relative;
	max-width: 992px;
	margin: 0 auto;
	display: grid;
	width: 100%;
	grid-template-columns: 33% 33% 33%;
}

@media only screen and (max-width: 639px) {
	.characters_grid {
		grid-template-columns: 50% 50%;
	}
}

@media only screen and (min-width: 1048px) {
	.characters_grid {
		grid-template-columns: 20% 20% 20% 20% 20%;
	}
}

.main_title {
	margin-top: 50px;
	text-align: center;
}
.main_text{
	text-align: center;
}

.patreon_banner {
	max-width: 550px;
	width: 100%;
	max-height: 100%;
	margin: 0 auto;
	display: block;
	margin-top: 50px;
}

.character_image {
	width: 100%;
}

.trailer_video_wrapper iframe {
	margin: 0 auto;
	display: block;
}

@media only screen and (max-width: 639px) {
	.trailer_video_wrapper iframe {
		min-width: calc(100vw);
	}
}

@media only screen and (max-width: 1047px) {}

@media only screen and (min-width: 1048px) {
	.trailer_video_wrapper iframe {
		min-width: 560px;
		max-width: 992px;
	}
}

.home_author_image {
	max-width: 992px;
	width: 100%;
	margin: 0 auto;
	display: block;
}

.comic_image {
	max-width: 768px;
	width: 100%;
	margin: 0 auto;
	display: block;
}